<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipe</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link rel="stylesheet" href="../../static/css/main.css">
</head>
<body>
<!-- This is for Intellisense to detect the proper object type for recipe in the thymeleaf expressions -->
<!-- /*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/ -->
<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-9 mx-auto">
            <!-- pass in a recipe command object to property "recipe" -->
            <!-- post to /recipe - thymeleaf will parse it at runtime and build the full URL for us -->
            <form th:object="${recipe}" th:action="@{/recipe/}" method="post">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p>Please Correct Errors Below</p>
                </div>
                <!-- we need to pass in the ID value, so we know what we are editing -->
                <input type="hidden" th:field="*{id}"/>
                <div class="container-fluid">
                    <!-- General Recipe Information -->
                    <div class="form-row" style="margin-top: 20px;">
                        <div class="col-md-9 mx-auto">
                            <div class="card">
                                <h4 class="card-header bg-warning text-white">Edit Recipe Information</h4>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-md-12 form-group"
                                             th:class="${#fields.hasErrors('description')} ? 'col-md-4 form-group is-invalid' : 'col-md-4 form-group'">
                                            <label th:text="#{recipe.description}">Recipe Description d:</label>
                                            <!-- will be read as recipe.description -->
                                            <input type="text" class="form-control" th:field="*{description}" th:errorclass="is-invalid"/>
                                            <span class="invalid-feedback" th:if = "${#fields.hasErrors('description')}">
                                                <ul>
                                                    <li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
                                                </ul>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4 form-group">
                                            <label>Categories</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <div class="form-check">
                                                <label class="form-check-label"><input class="form-check-input" type="checkbox"> Category 1</label>
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label"><input class="form-check-input" type="checkbox"> Category 2</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4 form-group"
                                            th:class="${#fields.hasErrors('prepTime')} ? 'col-md-4 form-group is-invalid' : 'col-md-4 form-group'">
                                            <label>Prep Time:</label>
                                            <input type="text" class="form-control" th:field="*{prepTime}" th:errorClass="is-invalid"/>
                                            <span class="invalid-feedback" th:if="${#fields.hasErrors('prepTime')}">
                                                <ul>
                                                    <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"/>
                                                </ul>
                                            </span>
                                        </div>
                                        <div class="col-md-4 form-group"
                                             th:class="${#fields.hasErrors('cookTime')} ? 'col-md-4 form-group is-invalid' : 'col-md-4 form-group'">
                                            <label>Cook Time:</label>
                                            <input type="text" class="form-control" th:field="*{cookTime}" th:errorClass="is-invalid"/>
                                            <span class="invalid-feedback" th:if="${#fields.hasErrors('cookTime')}">
                                                <ul>
                                                    <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"/>
                                                </ul>
                                            </span>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label>Difficulty:</label>
                                            <select class="form-control" th:field="*{difficulty}">
                                               <option th:each="difficultyValue : ${T(guru.springframework.domain.Difficulty).values()}"
                                                       th:value="${difficultyValue.name()}"
                                                       th:text="${difficultyValue.name()}"
                                               >val</option>
                                            </select>
                                            <select class="form-control" th:remove="all">
                                                <option>Easy</option>
                                                <option>Medium</option>
                                                <option>Hard</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-4 form-group"
                                            th:class="${#fields.hasErrors('servings')} ? 'col-md-4 form-group is-invalid' : 'col-md-4 form-group'">
                                            <label>Servings:</label>
                                            <input type="text" class="form-control" th:field="*{servings}" th:errorclass="is-invalid"/>
                                            <span class="invalid-feedback" th:if="${#fields.hasErrors('servings')}">
                                                <ul>
                                                    <li th:each="err : ${#fields.errors('servings')}" th:text="${err}"/>
                                                </ul>
                                            </span>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label>Source:</label>
                                            <input type="text" class="form-control" th:field="*{source}"/>
                                        </div>
                                        <div class="col-md-4 form-group"
                                        th:class="${#fields.hasErrors('url')} ? 'col-md-3 form-group is-invalid' : 'col-md-3 form-group'">
                                            <label>URL:</label>
                                            <input type="text" class="form-control" th:field="*{url}" th:errorClass="is-invalid"/>
                                            <span class="invalid-feedback" th:if="${#fields.hasErrors('url')}">
                                                <ul>
                                                    <li th:each="err : ${#fields.errors('url')}" th:text="${err}"/>
                                                </ul>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Recipe Ingredients -->
                    <div class="form-row" style="margin-top: 20px;">
                        <div class="col-md-9 mx-auto">
                            <div class="card">
                                <div class="card-header bg-warning text-white">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h4 class="card-title">Ingredients</h4>
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-warning text-white" href="#"
                                               th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" role="button">View</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <ul th:if="${not #lists.isEmpty(recipe.ingredients)}">
                                            <li th:remove="all">1 Cup of milk</li>
                                            <li th:remove="all">1 Teaspoon of chocolate</li>
                                            <li th:each="ingredient : ${recipe.ingredients}"
                                                th:text="${(ingredient.getAmount() +
                                    ' ' + ingredient.uom.getDescription() +
                                    ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Recipe Directions -->
                    <div class="form-row" style="margin-top: 20px;">
                        <div class="col-md-9 mx-auto">
                            <div class="card">
                                <h4 class="card-header bg-warning text-white">Directions</h4>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-md-12 form-group">
                                            <textarea class="form-control" rows="3" th:field="*{directions}"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Recipe Notes -->
                    <div class="form-row" style="margin-top: 20px;">
                        <div class="col-md-9 mx-auto">
                            <div class="card">
                                <h4 class="card-header bg-warning text-white">Notes</h4>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-md-12 form-group">
                                        <div class="col-md-12 form-group">
                                            <textarea class="form-control" rows="3"
                                                      th:field="*{notes.recipeNotes}"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="form-row" style="margin-top: 20px;">
                        <div class="col-md-9 mx-auto">
                            <button type="submit" class="btn btn-warning text-white">Submit</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"
        th:src="@{/webjars/bootstrap/4.0.0-beta/js/boostrap.min.js}"></script>

</body>
</html>